@import "bpmn-js/dist/assets/diagram-js.css";
@import "bpmn-js/dist/assets/bpmn-font/css/bpmn.css";

html,
body,
#root {
  height: 100%;
  margin: 0; /* Tarayıcı varsayılan boşluklarını sil */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
